@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
  box-shadow: 0 0 0px 1000px#111827 inset !important;
  -webkit-text-fill-color: #fff !important;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #4caf50 #2d2d2d;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #2d2d2d;
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #388e3c;
}
